*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.container-register {
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
}
.login-form {
    width: 50%;
    margin-left: 150px;

}
.logo-img img{
    width: 300px;
    margin-top: 30%;
    margin-left: 150px;
}
.txt {
    background-color: #F5F5F5;
    font-size: 20px;
}
.container-register-login-form-btn {
    background-color: #F5F5F5;
}
.container-register-login-form-btn button {
    width: 50%;
    border-radius: 10px;
    padding: 15px;
    color: white;
    font-size: 17px;
    border: none;
    background-color: #5A2E98;
}
.text-center {
    background-color: #F5F5F5;
}
.txt1 {
    background-color: #F5F5F5;
}
.txt2 {
    background-color: #F5F5F5;
}