:root{

    /* colors */
    --background-color: #2C004B;
    --main-color: #5A2E98;
    --main-color-dark: #381d5f;
    --main-dark: #342E37;
    --main-ligth: #FFFFFF;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;

}

.sidebar{
    background-color: var(--background-color);
    color: var(--main-ligth);
    height: 100%;
    transition: 0.2s;
    padding: 10px;
    box-sizing: border-box;
}

.opened {
    width: 270px;
    transition: 0.6s;
}

.closed {
    width: 80px;
    transition: 0.6s;
}

.menu-toggle {
    background-color: #5A2E98;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    transition: 0.2s;
}

.menu-toggle-opened {
    position: absolute;
    left: 220px;
    transition: 0.6s;
}
.menu-toggle-closed {
    position: absolute;
    left: 60px;
    transition: 0.6s;
}

li{
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}

li:hover{
    background-color: var(--main-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.logout{
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}

.logout:hover{
    background-color: var(--main-color);
    transition: 0.2s;
}

.create-group{
    background-color: var(--main-color);
    color: var(--main-ligth);
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    transition: 0.2s;
}

.create-group:hover{
    cursor: pointer;
    background-color: var(--main-color-dark);
    transition: 0.2s;
}