#map-entrar{
    position: sticky;
    width: 600px;
}

#map-entrar img{
    height: calc(600px * 0,78);
    width: 600px;

}
#map-entrar .position-box{
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#map-entrar .position-box:hover{
    cursor: pointer;
}

#map-entrar .position-box img{
    height: 30px;
    width: 30px;
}


#map-entrar #topo{
    left: 12%;
    top: 10%;
}

#map-entrar #selva{
    left: 20%;
    top: 50%;
}
#map-entrar #meio{
    left: 45%;
    top: 50%;
}
#map-entrar #suporte{
    left: 60%;
    top: 70%;
}
#map-entrar #atirador{
    left: 80%;
    top: 70%;
}