#map-criar{
    position: sticky;
    width: 100%;
}

#map-criar img{
    height: calc(100% * 0,78);
    width: 100%;

}
#map-criar .position-box{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    position: absolute;
}

#map-criar .position-box-img{
    height: 50px;
    width: 50px;
    background-color: var(--main-black );
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
#map-criar .position-box-input{
    position: absolute;
    margin-left: -45px;
    margin-top: 50px;
    background-color: black;
    color: #fff;
    opacity: 0.8;
    padding-left: 10px;
    padding-top: 5px;
}

#map-criar .position-box:hover{
    cursor: pointer;
}

#map-criar .position-box img{
    height: 30px;
    width: 30px;
}


#map-criar #topo{
    left: 12%;
    top: 10%;
}

#map-criar #selva{
    left: 20%;
    top: 50%;
}
#map-criar #meio{
    left: 45%;
    top: 50%;
}
#map-criar #suporte{
    left: 60%;
    top: 70%;
}
#map-criar #atirador{
    left: 80%;
    top: 70%;
}