
#grupos .grupos-header{
    display: flex;
    flex-direction: row;
    height: 5vh;
    padding: 0 1vw;
    font-family: 'Saira', sans-serif;
}

#grupos .indicador-header{
    width: 0.7vw;
    height: 0.7vw;
    margin: auto 1vw auto 0px;
    border-radius: 50%;
    background-color: var(--util-green); 
}

#grupos .box-map {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #fff;
    padding: 20px;
}