
#home {
    width: calc(100% - 100px);
    margin-left: 100px;
}

#home .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#home .title {
    color: white;
}

.button-navigation {
    background-color: #B2B2B2;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.button-navigation:hover {
    cursor: pointer;
    background-color: #404258;
}