.card-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 2vh auto;
    height: 12vh;
    padding: 0px 2vw;
    background-color: var(--main-secondary);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.349);
    overflow: hidden;
    transition: all 0.3s ease;
    border-radius: 4px;
}

.card-group:hover {
    cursor: pointer;
}

.card-group p {
    color: #ffffff;
    margin: 0px 0.2vw;
    font-family: 'Inter', sans-serif;
}
.card-group h1 {
    color: #ffffff;
    font-size: 1.8rem;
    font-family: 'Saira', sans-serif;
}

.lanes-section{
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}


.lanes-section img{
    width: 80%;
}
.submenu{
    display: flex;
    flex-direction: row;
}

.indicador{
    width: 0.3vw;
    height: 0.3vw;
    margin: 1vh auto 0px auto;
    border-radius: 50%;
    background-color: var(--util-green);
}

.indicador-off{
    width: 0.5vw;
    height: 0.5vw;
    margin: 1vh auto 0px auto;
    border-radius: 50%;
    visibility: hidden;
}

.pesquisa-filtro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 2vh auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.349);
    transition: all 0.3s ease;
}
